.chat-main
  .chat-main__group-info
    .main-leftbox
      %h2.info test
      %ul.menber-list Member:masa
    .main-rightbox 
      = link_to "#", class: "chat-main__btn" do
        Edit
      -# %a(href="#")Edit  
          
  .chat-main__list
    .chat-main__list__message
      .chat-main__list__message__user-name
        yuri
      .chat-main__list__message__date
        2020/03/03(Tue) 21:09:07
    .chat-main__list__text
      ãŠã¯ã‚ˆã†

  .chat-main__from
    %form#new_message.new_message{"accept-charset" => "UTF-8", :action => "/groups/20890/messages", :enctype => "multipart/form-data", :method => "post"}
      .input-box
        %input#message_content.input-box__text{:name => "message[content]", :placeholder => "type a message", :type => "text"}/
        %label.input-box__image{:for => "message_image"}
          %i.fa.fa-image
     
      %input.submit-btn{"data-disable-with" => "Send", :name => "commit", :type => "submit", :value => "Send"}/

